<template>
  <h3>game screen</h3>
  <div v-for="planet in planets" :key="planet">
    <planet-icon :planet="planet"></planet-icon>
  </div>
</template>

<script>
// components
import PlanetIcon from "../utils/inGame/planetIcon.vue";
//  deps
import { renderer, eManager, Vec2, gamica, layers } from "../../game";

// entities
import Planet from "/src/game/entities/planet";
import Star from "/src/game/entities/star";

let mouse = new Vec2(0, 0);
let mouseMovement = new Vec2(0, 0);
let mouseDown = false;
let mouseMoved = false;
window.addEventListener("mousemove", (e) => {
  mouse.x = e.clientX;
  mouse.y = e.clientY;
  mouseMovement.x = e.movementX;
  mouseMovement.y = e.movementY;
  mouseMoved = true;
});
window.addEventListener("mousedown", () => {
  mouseDown = true;
});
window.addEventListener("mouseup", () => (mouseDown = false));

export default {
  components: {
    PlanetIcon,
  },
  data() {
    return {
      entities: eManager.entities,
      planets: [],
    };
  },
  computed: {
    planetsIconsPos() {
      let planets = [];
    },
  },
  mounted() {
    // make layers available
    Object.values(layers).forEach((layer) => {
      layer.canvas.style.display = "visible";
    });

    let factions = [
      "Alpha warriors",
      // "Space Pirates",
      // "Orion Raiders",
      "Omega frontier",
      "The colonies",
    ];

    //spawn planets
    for (let i = 0; i < 2; i++) {
      eManager;
      let planet = new Planet({
        faction:
          i === 0
            ? "player"
            : factions[Math.floor(Math.random() * factions.length)],
      });
      eManager.addEntity(planet);
      if (planet.checkOverlapping()) {
        i--;
        planet.destroy();
      }
    }

    // create star field
    for (let i = 0; i < 1024; i++) {
      eManager.addEntity(new Star());
    }

    // renderer
    eManager.start();
    let world = { width: 4000, height: 4000 };
    renderer.update = (time) => {
      document.body.style.cursor = "auto";
      // clean screen every frame
      layers.planetLayer.clearWorldSpace();
      layers.starFieldLayer.clearWorldSpace();
      layers.probesTrailLayer.clearWorldSpace();
      layers.probesLayer.clearWorldSpace();

      // update entity manager
      eManager.update(time);

      // query planets for ui
      this.planets = eManager
        .queryEntities((entity) => {
          return entity.tags.has("planet");
        })
        .map((planet) => {
          // check for mouse collision
          return {
            tags: planet.tags,
            x: planet.toWorldPosition.x,
            y: planet.toWorldPosition.y,
            isPlayer: planet.tags.has("player_planet"),
            units: planet.units,
            selected: planet.selected,
            radius: planet.radius,
          };
        });

      // camera move
      if (mouseDown && mouseMoved) {
        layers.planetLayer.moveInWorldSpace(
          mouseMovement.x * 0.1 * time.deltaTime,
          mouseMovement.y * 0.1 * time.deltaTime
        );
        layers.probesLayer.moveInWorldSpace(
          mouseMovement.x * 0.1 * time.deltaTime,
          mouseMovement.y * 0.1 * time.deltaTime
        );
        layers.probesTrailLayer.moveInWorldSpace(
          mouseMovement.x * 0.1 * time.deltaTime,
          mouseMovement.y * 0.1 * time.deltaTime
        );
        layers.starFieldLayer.moveInWorldSpace(
          mouseMovement.x * 0.01 * time.deltaTime,
          mouseMovement.y * 0.01 * time.deltaTime
        );
      }
      // reset camera velocity
      mouseMovement.x = 0;
      mouseMovement.y = 0;
      mouseMoved = false;

      // console.log(eManager.entities)
    };

    renderer.init();
  },
};
</script>

<style>
</style>