<template>
  <div class="h-100">
    <div class="d-flex h-100 flex-column">
      <div class="w-50 ms-auto px-3">
        <point-meter></point-meter>
      </div>
      <div>
        <img src="/src/res/logo.png" class="img-fluid" />
      </div>
      <div class="d-flex flex-column container px-5 text-center">
        <div>
          <router-link to="/game">
            <button class="btn btn-brand-green my-3 w-100">
              <h3>PLAY</h3>
            </button>
          </router-link>
        </div>
        <div>
          <button class="btn btn-brand-green my-3 w-100"><h3>STORE</h3></button>
        </div>
        <div>
          <button class="btn btn-brand-green my-3 w-100">
            <h3>SETTINGS</h3>
          </button>
        </div>
      </div>
      <div class="bg-white mt-auto text-center">
        <h3 class="my-auto">banner add</h3>
      </div>
    </div>
  </div>
</template>

<script>
import PointMeter from "../utils/PointMeter.vue";
import { layers } from "../../game";
export default {
  components: { PointMeter },
  mounted() {
    Object.values(layers).forEach((layer) => {
      layer.canvas.style.display = "none";
    });
  },
};
</script>

<style>
</style>