<template>
  <div
    :style="pos + selectionColor"
    v-if="planet.selected"
    class="planet-selector"
  ></div>
  <img
    draggable="false"
    ondragstart="return false;"
    ref="icon"
    :style="pos"
    class="planet-icon"
    :src="
      planet.tags.has('player_planet')
        ? '/src/res/aIcons/pIcon1.svg'
        : planet.tags.has('Alpha warriors')
        ? '/src/res/aIcons/aIcon1.svg'
        : planet.tags.has('Omega frontier')
        ? '/src/res/aIcons/aIcon3.svg'
        : planet.tags.has('The colonies')
        ? '/src/res/aIcons/aIcon2.svg'
        : ''
    "
  />
  <div
    :style="pos"
    class="planet-text-box d-flex justify-content-center align-items-center"
  >
    <h4 class="planet-units text-white">{{ planet.units }}</h4>
  </div>
</template>

<script>
export default {
  props: {
    planet: {
      default: {},
      type: Object,
    },
  },
  computed: {
    pos() {
      return `transform:translate(${this.planet.x}px, ${this.planet.y}px);`;
    },
    selectionColor() {
      return `border-color: ${
        this.planet.isPlayer ? "var(--brand-green)" : "var(--brand-red)"
      };`;
    },
  },
  mounted() {},
};
</script>

<style>
.planet-icon {
  margin: 0;
  padding: 0;
  left: -1.7em;
  top: -8rem;
  position: fixed;
  z-index: 10;
  user-select: none;
}
.planet-units {
  color: black !important;
  user-select: none;
}

.planet-text-box {
  position: fixed;
  z-index: 10;
  top: -2.2rem;
  left: -2.5rem;
  height: 80px;
  width: 80px;
}
.planet-selector {
  position: fixed;
  top: -70px;
  left: -70px;
  background-color: transparent;
  height: 140px;
  width: 140px;
  z-index: 10;
  border: 3px solid;
  border-radius: 100%;
}
</style>