:root {
    /*colors hex*/
    --brand-green: #34F498;
    --brand-green-100: #A4F500;
    --brand-green-200: #EEFFCC;
    --brand-blue: #34F4F4;
    --brand-blue-100: #00B0C0;
    --brand-blue-200: #CCFBFF;
    --brand-purple: #B734F4;
    --brand-purple-100: #AD00FF;
    --brand-purple-200: #F5E0FF;
    --brand-yellow: #F0F434;
    --brand-yellow-100: #F5F100;
    --brand-yellow-200: #FFFECC;
    --brand-red: #E6007A;
    --brand-red-100: #F45634;
    --brand-red-200: #FFD6EC;
    --brand-dark: #0E1728;
    --brand-dark-100: #1C2F52;
    --brand-dark-200: #001B1F;
    --brand-white: #FFFFFF;
    --brand-white-100: #EDEDED;
    --brand-white-200: #BFBFBF;
    --brand-white-300: #858585;
    --brand-white-400: #f3f5f0;
    --brand-white-500: #e6e6e6;


    --brand-green-rgb: 52, 244, 152;
    --brand-green-100-rgb: 164, 245, 0;
    --brand-green-200-rgb: 238, 255, 204;
    --brand-blue-rgb: 52, 244, 244;
    --brand-blue-100-rgb: 0, 176, 192;
    --brand-blue-200-rgb: 204, 251, 255;
    --brand-purple-rgb: 183, 52, 244;
    --brand-purple-100-rgb: 173, 0, 255;
    --brand-purple-200-rgb: 245, 224, 255;
    --brand-yellow-rgb: 240, 244, 52;
    --brand-yellow-100-rgb: 245, 241, 0;
    --brand-yellow-200-rgb: 255, 254, 204;
    --brand-red-rgb: 230, 0, 122;
    --brand-red-100-rgb: 28, 47, 82;
    --brand-red-200-rgb: 255, 214, 236;
    --brand-dark-rgb: 14, 23, 40;
    --brand-dark-100-rgb: 0, 46, 51;
    --brand-dark-200-rgb: 0, 27, 31;
    --brand-white-rgb: 255, 255, 255;
    --brand-white-100-rgb: 237, 237, 237;
    --brand-white-200-rgb: 191, 191, 191;
    --brand-white-300-rgb: 133, 133, 133;
    --brand-white-400-rgb: 243, 245, 240;
    --brand-white-500-rgb: 230, 230, 230;


    /*font*/
    --base-font-size: 16;
    --type-scale: 1.250;
    --font-family: 'Poppins', sans-serif;
    --body-fw: 400;
    --body-color: var(--brand-dark-200);
    /*font scale*/
    /*px units*/
    --small-px: calc(var(--base-font-size) / var(--type-scale));
    --h5-px: calc(var(--base-font-size) * var(--type-scale));
    --h4-px: calc(var(--h5-px) * var(--type-scale));
    --h3-px: calc(var(--h4-px) * var(--type-scale));
    --h2-px: calc(var(--h3-px) * var(--type-scale));
    --h1-px: calc(var(--h2-px) * var(--type-scale));
    /*rem units*/
    --small-rem: calc(var(--base-font-size) / var(--type-scale) / var(--base-font-size));
    --h5-rem: calc(var(--base-font-size) * var(--type-scale) / var(--base-font-size));
    --h4-rem: calc(var(--h5-px) * var(--type-scale) / var(--base-font-size));
    --h3-rem: calc(var(--h4-px) * var(--type-scale) / var(--base-font-size));
    --h2-rem: calc(var(--h3-px) * var(--type-scale) / var(--base-font-size));
    --h1-rem: calc(var(--h2-px) * var(--type-scale) / var(--base-font-size));
}

html {
    font-size: 100%;
    /*16px*/
    height: 100vh !important;
}

body {
    font-family: var(--font-family) !important;
    font-weight: var(--body-fw) !important;
    line-height: 1.75 !important;
    color: var(--body-color) !important;
    height: 100% !important;
    overflow-x: hidden !important;
}

li {
    font-family: var(--font-family) !important;
    font-weight: var(--body-fw) !important;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: var(--font-family) !important;
    font-weight: var(--body-fw) !important;
    line-height: 1.3;
}

h1 {
    font-size: calc(var(--h1-rem) * 1rem) !important;
}

h2 {
    font-size: calc(var(--h2-rem) * 1rem) !important;
}

h3 {
    font-size: calc(var(--h3-rem) * 1rem) !important;
}

h4 {
    font-size: calc(var(--h4-rem) * 1rem) !important;
}

h5 {
    font-size: calc(var(--h5-rem) * 1rem) !important;
}

small,
.text_small, td, th {
    font-size: calc(var(--small-rem) * 1rem) !important;
}

a {
    color: var(--brand-dark);
}

.fw-ex-light {
    font-weight: 200 !important;
}

.fw-regular {
    font-weight: 400 !important;
}

.fw-medium {
    font-weight: 500 !important;
}

.fw-semibold {
    font-weight: 600 !important;
}

.fw-ex-bold {
    font-weight: 800 !important;
}

/* cards */
.card {
    border-radius: 8px;
    border: none !important;
}

/* table */
tbody, td, tfoot, th, thead, tr {
    border-color: inherit;
    border-style: none !important;
    border-width: 0;
}

.spaced-table {
    border-spacing: 0 15px !important;
    border-collapse: separate;
}

td {
    vertical-align: middle !important;
}

.spaced-table tr {
    border-radius: 8px !important;
    background-color: var(--brand-white);
}

/*alerts*/

.alert {
    border-radius: 8px !important;
    border: none !important
}

.alert-brand-green {
    background-color: var(--brand-green-200) !important;
    color: var(--brand-green);
}

.alert-brand-blue {
    background-color: var(--brand-blue-200) !important;
    color: var(--brand-blue);
}

.alert-brand-purple {
    background-color: var(--brand-purple-200) !important;
    color: var(--brand-purple);
}

.alert-brand-yellow {
    background-color: var(--brand-yellow-200) !important;
    color: var(--brand-dark);
}

.alert-brand-red {
    background-color: var(--brand-red-200) !important;
    color: var(--brand-red);
}

.alert-brand-dark {
    background-color: var(--brand-dark-200) !important;
    color: var(--brand-dark);
}

.alert-brand-white {
    background-color: var(--brand-white-200) !important;
    color: var(--brand-dark);
}

/* DROPDOWN */
.dropdown-menu {
    border-radius: 8px !important;
    border: solid 1px var(--brand-dark) !important;

}

/*badges*/

.badge {
    border-radius: 6px !important;
    border: none !important;
    border-radius: 0.8rem;
}

.badge-brand-green {
    background-color: var(--brand-green) !important;
    color: var(--brand-dark);
}

.badge-brand-blue {
    background-color: var(--brand-blue) !important;
    color: var(--brand-white);
}

.badge-brand-purple {
    background-color: var(--brand-purple) !important;
    color: var(--brand-white);
}

.badge-brand-yellow {
    background-color: var(--brand-yellow) !important;
    color: var(--brand-dark);
}

.badge-brand-red {
    background-color: var(--brand-red) !important;
    color: var(--brand-white);
}

.badge-brand-dark {
    background-color: var(--brand-dark) !important;
    color: var(--brand-white);
}

.badge-brand-white {
    background-color: var(--brand-white) !important;
    color: var(--brand-dark);
}

.accordion-button:focus {
    z-index: 3;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(var(--brand-green-100-rgb), 25%);
}

/*btn*/
.accordion-button:not(.collapsed) {
    color: black;
    background-color: var(--brand-green-200);
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}

.btn-sm {
    border-radius: 8px !important;
    box-shadow: none !important;
    outline: none !important;
    border: none !important;
    height: 2.5rem;
    font-size: 1rem;
    transition: 150ms all !important;
    font-weight: 500;
    padding-left: 1.4rem;
    padding-right: 1.4rem;
}


.btn {
    border-radius: 8px !important;
    box-shadow: none !important;
    outline: none !important;
    border: none !important;
    height: 3rem;
    font-size: 1rem;
    transition: 150ms all !important;
    font-weight: 500;
    padding-left: 1.4rem;
    padding-right: 1.4rem;
}

.btn-brand-green {
    background-color: var(--brand-green) !important;
    color: var(--brand-dark);
}

.btn-brand-green:hover {
    cursor: pointer;
    background-color: var(--brand-green-100) !important;
    color: var(--brand-white);
}

.btn-brand-green:focus {
    cursor: pointer;
    box-shadow: 0 6px 16px rgba(var(--brand-green-rgb), .40) !important;
    background-color: var(--brand-green) !important;
    color: var(--brand-white);
}

.btn-brand-blue {
    background-color: var(--brand-blue) !important;
    color: var(--brand-white);
}

.btn-brand-blue:hover {
    cursor: pointer;
    background-color: var(--brand-blue-100) !important;
    color: var(--brand-white);
}

.btn-brand-blue:focus {
    cursor: pointer;
    box-shadow: 0 6px 16px rgba(var(--brand-blue-rgb), .40) !important;
    background-color: var(--brand-blue) !important;
    color: var(--brand-white);
}

.btn-brand-purple {
    background-color: var(--brand-purple) !important;
    color: var(--brand-white);
}

.btn-brand-purple:hover {
    cursor: pointer;
    background-color: var(--brand-purple-100) !important;
    color: var(--brand-white);
}

.btn-brand-purple:focus {
    cursor: pointer;
    box-shadow: 0 6px 16px rgba(var(--brand-purple-rgb), .40) !important;
    background-color: var(--brand-purple) !important;
    color: var(--brand-white);
}

.btn-brand-yellow {
    background-color: var(--brand-yellow) !important;
    color: var(--brand-dark);
}

.btn-brand-yellow:hover {
    cursor: pointer;
    background-color: var(--brand-yellow-100) !important;
    color: var(--brand-dark);
}

.btn-brand-yellow:focus {
    cursor: pointer;
    box-shadow: 0 6px 16px rgba(var(--brand-yellow-rgb), .40) !important;
    background-color: var(--brand-yellow) !important;
    color: var(--brand-dark);
}

.btn-brand-red {
    background-color: var(--brand-red) !important;
    color: var(--brand-white);
}

.btn-brand-red:hover {
    cursor: pointer;
    background-color: var(--brand-red-100) !important;
    color: var(--brand-white);
}

.btn-brand-red:focus {
    cursor: pointer;
    box-shadow: 0 6px 16px rgba(var(--brand-red-rgb), .40) !important;
    background-color: var(--brand-red) !important;
    color: var(--brand-white);
}

.btn-brand-dark {
    background-color: var(--brand-dark) !important;
    color: var(--brand-white);
}

.btn-brand-dark:hover {
    cursor: pointer;
    background-color: var(--brand-dark-100) !important;
    color: var(--brand-white);
}

.btn-brand-dark:focus {
    cursor: pointer;
    box-shadow: 0 6px 16px rgba(var(--brand-dark-rgb), .40) !important;
    background-color: var(--brand-dark) !important;
    color: var(--brand-white);
}

.btn-brand-white {
    background-color: var(--brand-white) !important;
    color: var(--brand-dark);
    transition: all 150ms;
}

.btn-brand-white:hover {
    cursor: pointer;
    background-color: var(--brand-white-100) !important;
    color: var(--brand-dark);
    border: solid 1px var(--brand-green) !important;
}

.btn-brand-white:focus {
    cursor: pointer;
    box-shadow: 0 6px 16px rgba(var(--brand-white-rgb), .40) !important;
    background-color: var(--brand-white) !important;
    color: var(--brand-dark);
    border: solid 1px var(--brand-dark) !important;

}


/*outline btn*/

.btn-outline-brand-green {
    border: 1px solid var(--brand-green) !important;
    color: var(--brand-green);
}

.btn-outline-brand-green:hover {
    cursor: pointer;
    background-color: var(--brand-green-100) !important;
    color: var(--brand-white);
}

.btn-outline-brand-green:focus {
    cursor: pointer;
    box-shadow: 0 6px 16px rgba(var(--brand-green-rgb), .40) !important;
    background-color: var(--brand-green) !important;
    color: var(--brand-white);
}

.btn-outline-brand-blue {
    border: 1px solid var(--brand-blue) !important;
    color: var(--brand-blue);
}

.btn-outline-brand-blue:hover {
    cursor: pointer;
    background-color: var(--brand-blue-100) !important;
    color: var(--brand-white);
}

.btn-outline-brand-blue:focus {
    cursor: pointer;
    box-shadow: 0 6px 16px rgba(var(--brand-blue-rgb), .40) !important;
    background-color: var(--brand-blue) !important;
    color: var(--brand-white);
}

.btn-outline-brand-purple {
    border: 1px solid var(--brand-purple) !important;
    color: var(--brand-purple);
}

.btn-outline-brand-purple:hover {
    cursor: pointer;
    background-color: var(--brand-purple-100) !important;
    color: var(--brand-white);
}

.btn-outline-brand-purple:focus {
    cursor: pointer;
    box-shadow: 0 6px 16px rgba(var(--brand-purple-rgb), .40) !important;
    background-color: var(--brand-purple) !important;
    color: var(--brand-white);
}

.btn-outline-brand-yellow {
    border: 1px solid var(--brand-yellow) !important;
    color: var(--brand-yellow);
}

.btn-outline-brand-yellow:hover {
    cursor: pointer;
    background-color: var(--brand-yellow-100) !important;
    color: var(--brand-dark);
}

.btn-outline-brand-yellow:focus {
    cursor: pointer;
    box-shadow: 0 6px 16px rgba(var(--brand-yellow-rgb), .40) !important;
    background-color: var(--brand-yellow) !important;
    color: var(--brand-dark);
}

.btn-outline-brand-red {
    border: 1px solid var(--brand-red) !important;
    color: var(--brand-red);
}

.btn-outline-brand-red:hover {
    cursor: pointer;
    background-color: var(--brand-red-100) !important;
    color: var(--brand-white);
}

.btn-outline-brand-red:focus {
    cursor: pointer;
    box-shadow: 0 6px 16px rgba(var(--brand-red-rgb), .40) !important;
    background-color: var(--brand-red) !important;
    color: var(--brand-white);
}

.btn-outline-brand-dark {
    border: 1px solid var(--brand-dark) !important;
    color: var(--brand-dark);
}

.btn-outline-brand-dark:hover {
    cursor: pointer;
    background-color: var(--brand-dark-100) !important;
    color: var(--brand-white);
}

.btn-outline-brand-dark:focus {
    cursor: pointer;
    box-shadow: 0 6px 16px rgba(var(--brand-dark-rgb), .40) !important;
    background-color: var(--brand-dark) !important;
    color: var(--brand-white);
}

.btn-outline-brand-white {
    border: 1px solid var(--brand-white) !important;
    color: var(--brand-white);
}

.btn-outline-brand-white:hover {
    cursor: pointer;
    background-color: var(--brand-white-100) !important;
    color: var(--brand-dark);
}

.btn-outline-brand-white:focus {
    cursor: pointer;
    box-shadow: 0 6px 16px rgba(var(--brand-white-rgb), .40) !important;
    background-color: var(--brand-white) !important;
    color: var(--brand-dark);
}


/*bg*/

.bg-brand-green-100 {
    background-color: var(--brand-green-100);
}

.bg-brand-green-200 {
    background-color: var(--brand-green-200)
}

.bg-brand-green {
    background-color: var(--brand-green);
}

.bg-brand-blue-100 {
    background-color: var(--brand-blue-100);
}

.bg-brand-blue-200 {
    background-color: var(--brand-blue-200)
}

.bg-brand-blue {
    background-color: var(--brand-blue);
}

.bg-brand-purple-100 {
    background-color: var(--brand-purple-100);
}

.bg-brand-purple-200 {
    background-color: var(--brand-purple-200)
}

.bg-brand-purple {
    background-color: var(--brand-purple);
}

.bg-brand-yellow-100 {
    background-color: var(--brand-yellow-100);
}

.bg-brand-yellow-200 {
    background-color: var(--brand-yellow-200)
}

.bg-brand-yellow {
    background-color: var(--brand-yellow);
}

.bg-brand-red-100 {
    background-color: var(--brand-red-100);
}

.bg-brand-red-200 {
    background-color: var(--brand-red-200)
}

.bg-brand-red {
    background-color: var(--brand-red);
}

.bg-brand-dark-100 {
    background-color: var(--brand-dark-100);
}

.bg-brand-dark-200 {
    background-color: var(--brand-dark-200)
}

.bg-brand-dark {
    background-color: var(--brand-dark);
}

.bg-brand-white-100 {
    background-color: var(--brand-white-100);
}

.bg-brand-white-200 {
    background-color: var(--brand-white-200)
}

.bg-brand-white-300 {
    background-color: var(--brand-white-300)
}


.bg-brand-white-400 {
    background-color: var(--brand-white-400)
}

.bg-brand-white {
    background-color: var(--brand-white);
}


/*text*/

.text-brand-green-100 {
    color: var(--brand-green-100);
}

.text-brand-green-200 {
    color: var(--brand-green-200)
}

.text-brand-green {
    color: var(--brand-green);
}

.text-brand-blue-100 {
    color: var(--brand-blue-100);
}

.text-brand-blue-200 {
    color: var(--brand-blue-200)
}

.text-brand-blue {
    color: var(--brand-blue);
}

.text-brand-purple-100 {
    color: var(--brand-purple-100);
}

.text-brand-purple-200 {
    color: var(--brand-purple-200)
}

.text-brand-purple {
    color: var(--brand-purple);
}

.text-brand-yellow-100 {
    color: var(--brand-yellow-100);
}

.text-brand-yellow-200 {
    color: var(--brand-yellow-200)
}

.text-brand-yellow {
    color: var(--brand-yellow);
}

.text-brand-red-100 {
    color: var(--brand-red-100);
}

.text-brand-red-200 {
    color: var(--brand-red-200)
}

.text-brand-red {
    color: var(--brand-red);
}

.text-brand-dark-100 {
    color: var(--brand-dark-100);
}

.text-brand-dark-200 {
    color: var(--brand-dark-200)
}

.text-brand-dark {
    color: var(--brand-dark);
}

.text-brand-white-100 {
    color: var(--brand-white-100);
}

.text-brand-white-200 {
    color: var(--brand-white-200)
}

.text-brand-white-300 {
    color: var(--brand-white-300)
}


.text-brand-white-400 {
    color: var(--brand-white-400)
}

.text-brand-white-500 {
    color: var(--brand-white-500)
}

.text-brand-white {
    color: var(--brand-white);
}


/*input*/


/*input group*/

.input-group {
    flex-direction: row-reverse;
    transition: 150ms all;
}

.input-group-text {
    transition: 150ms all;
}

.input-group .form-control:nth-child(1) {
    border-left: none !important;
    border-radius: 0 8px 8px 0 !important;
}

.input-group-text {
    border-color: var(--brand-dark);
    background-color: var(--brand-white-100);
}

.input-group-text:nth-child(2) {
    border-radius: 8px 0 0 8px !important;
    border-right: none;
}

.form-label,
.form-check-label {
    font-size: calc(var(--small-rem) * 1rem) !important;
    margin-bottom: .1rem;
    color: black;
    font-weight: 400;
}


.form-select {
    border-radius: 8px;
    height: 2.5rem !important;
    color: var(--brand-dark) !important;
    font-weight: 400 !important;
    background-color: var(--brand-white-100);
    box-shadow: none !important;
    border: 1px solid var(--brand-dark);
    transform: 150ms all;
}

.form-select:hover,
.form-select:focus {
    border: 1px solid var(--brand-blue);
}

.form-select:hover+.input-group-text,
.form-select:focus+.input-group-text {
    border: 1px solid var(--brand-blue);
}

.form-select:active,
.form-select:focus {
    font-weight: 200;
    background-color: var(--brand-white-100);
    color: var(--brand-white-200);
}



.form-control {
    border-radius: 8px;
    height: 2.5rem !important;
    color: var(--brand-dark) !important;
    font-weight: 400 !important;
    background-color: var(--brand-white-100);
    box-shadow: none !important;
    border: 1px solid var(--brand-dark);
    transform: 150ms all;
}

.form-control:hover,
.form-control:focus {
    border: 1px solid var(--brand-blue);
}

.form-control:hover+.input-group-text,
.form-control:focus+.input-group-text {
    border: 1px solid var(--brand-blue);
}

.form-control:active,
.form-control:focus {
    font-weight: 200;
    background-color: var(--brand-white-100);
    color: var(--brand-white-200);
}



.form-control::placeholder {
    font-weight: 200;
    color: var(--brand-white-200);
}

form .form-control:focus:invalid,
form .form-control:focus:invalid+.input-group-text {
    border: 1px solid var(--brand-red);
    color: var(--brand-red) !important;
}

form .form-control:focus:valid,
form .form-control:focus:valid+.input-group-text {
    border: 1px solid var(--brand-green);
    color: var(--brand-green);
}


form .form-control.bad,
form .form-control.bad+.input-group-text {
    border: 1px solid var(--brand-red) !important;
    color: var(--brand-red) !important;
}

form .form-control.bad:focus,
form .form-control.bad:focus+.input-group-text {
    border: 1px solid var(--brand-red) !important;
    color: var(--brand-red) !important;
}



form .form-control.good,
form .form-control.good+.input-group-text {
    border: 1px solid var(--brand-green) !important;
    color: var(--brand-green) !important;
}

form .form-control.good:focus,
form .form-control.good:focus+.input-group-text {
    border: 1px solid var(--brand-green) !important;
    color: var(--brand-green) !important;
}


form .form-control:focus:valid,
form .form-control:focus:valid+.input-group-text {
    border: 1px solid var(--brand-green);
    color: var(--brand-green);
}

.form-check-input {
    cursor: pointer;
    transition: 150ms;
}

.form-check-input:focus {
    box-shadow: 0 0 1px 6px rgba(var(--brand-green-100-rgb), .5);
}

.form-check-input:checked {
    border-color: var(--brand-dark);
    background-color: var(--brand-green);
}


/*or divider*/

.or {
    display: flex;
    justify-content: center;
    align-items: center;
}

.or p {
    margin-bottom: 0;
}

.or:after,
.or:before {
    content: "";
    display: block;
    background: grey;
    width: 30%;
    height: 1px;
    margin: 0 10px;
}


.border-brand-green-100 {
    border-color: var(--brand-green-100) !important;
}

.border-brand-green-200 {
    border-color: var(--brand-green-200) !important;
}

.border-brand-green {
    border-color: var(--brand-green) !important;
}

.border-brand-blue-100 {
    border-color: var(--brand-blue-100) !important;
}

.border-brand-blue-200 {
    border-color: var(--brand-blue-200) !important;
}

.border-brand-blue {
    border-color: var(--brand-blue) !important;
}

.border-brand-purple-100 {
    border-color: var(--brand-purple-100) !important;
}

.border-brand-purple-200 {
    border-color: var(--brand-purple-200) !important;
}

.border-brand-purple {
    border-color: var(--brand-purple) !important;
}

.border-brand-yellow-100 {
    border-color: var(--brand-yellow-100) !important;
}

.border-brand-yellow-200 {
    border-color: var(--brand-yellow-200) !important;
}

.border-brand-yellow {
    border-color: var(--brand-yellow) !important;
}

.border-brand-red-100 {
    border-color: var(--brand-red-100) !important;
}

.border-brand-red-200 {
    border-color: var(--brand-red-200) !important;
}

.border-brand-red {
    border-color: var(--brand-red) !important;
}

.border-brand-dark-100 {
    border-color: var(--brand-dark-100) !important;
}

.border-brand-dark-200 {
    border-color: var(--brand-dark-200) !important;
}

.border-brand-dark {
    border-color: var(--brand-dark) !important;
}

.border-brand-white-100 {
    border-color: var(--brand-white-100) !important;
}

.border-brand-white-200 {
    border-color: var(--brand-white-200) !important;
}

.border-brand-white-300 {
    border-color: var(--brand-white-300) !important;
}

.border-brand-white {
    border-color: var(--brand-white) !important;
}


.border-0 {
    border-width: 0;
}

.border-end-0 {
    border-right: 0 !important;
}

.border-start-0 {
    border-left: 0 !important;
}

.border-bottom-0 {
    border-bottom: 0 !important;
}

.border-top-0 {
    border-top: 0 !important;
}

.border-1 {
    border: solid 1px black !important;
}

.border-end-1 {
    border-right: solid 1px black !important;
}

.border-start-1 {
    border-left: solid 1px black !important;
}

.border-bottom-1 {
    border-bottom: solid 1px black !important;
}

.border-top-1 {
    border-top: solid 1px black !important;
}

.border-2 {
    border: solid 2px black !important;
}

.border-end-2 {
    border-right: solid 2px black !important;
}

.border-start-2 {
    border-left: solid 2px black !important;
}

.border-bottom-2 {
    border-bottom: solid 2px black !important;
}

.border-top-2 {
    border-top: solid 2px black !important;
}


.border-3 {
    border: solid 3px black !important;
}

.border-end-3 {
    border-right: solid 3px black !important;
}

.border-start-3 {
    border-left: solid 3px black !important;
}

.border-bottom-3 {
    border-bottom: solid 3px black !important;
}

.border-top-3 {
    border-top: solid 3px black !important;
}

@media (min-width: 576px) {
    .h-sm-25 {
        height: 25% !important;
    }

    .h-sm-50 {
        height: 50% !important;
    }

    .h-sm-75 {
        height: 75% !important;
    }

    .h-sm-100 {
        height: 100% !important;
    }

    .w-sm-25 {
        width: 25% !important;
    }

    .w-sm-50 {
        width: 50% !important;
    }

    .w-sm-75 {
        width: 75% !important;
    }

    .w-sm-100 {
        width: 100% !important;
    }

    .border-sm-0 {
        border-width: 0;
    }

    .border-sm-end-0 {
        border-right: 0 !important;
    }

    .border-sm-start-0 {
        border-left: 0 !important;
    }

    .border-sm-bottom-0 {
        border-bottom: 0 !important;
    }

    .border-sm-top-0 {
        border-top: 0 !important;
    }

    .border-sm-1 {
        border: solid 1px black !important;
    }

    .border-sm-end-1 {
        border-right: solid 1px black !important;
    }

    .border-sm-start-1 {
        border-left: solid 1px black !important;
    }

    .border-sm-bottom-1 {
        border-bottom: solid 1px black !important;
    }

    .border-sm-top-1 {
        border-top: solid 1px black !important;
    }

    .border-sm-2 {
        border: solid 2px black !important;
    }

    .border-sm-end-2 {
        border-right: solid 2px black !important;
    }

    .border-sm-start-2 {
        border-left: solid 2px black !important;
    }

    .border-sm-bottom-2 {
        border-bottom: solid 2px black !important;
    }

    .border-sm-top-2 {
        border-top: solid 2px black !important;
    }


    .border-sm-3 {
        border: solid 3px black !important;
    }

    .border-sm-end-3 {
        border-right: solid 3px black !important;
    }

    .border-sm-start-3 {
        border-left: solid 3px black !important;
    }

    .border-sm-bottom-3 {
        border-bottom: solid 3px black !important;
    }

    .border-sm-top-3 {
        border-top: solid 3px black !important;
    }
}

@media (min-width: 768px) {
    .h-md-25 {
        height: 25% !important;
    }

    .h-md-50 {
        height: 50% !important;
    }

    .h-md-75 {
        height: 75% !important;
    }

    .h-md-100 {
        height: 100% !important;
    }

    .w-md-25 {
        width: 25% !important;
    }

    .w-md-50 {
        width: 50% !important;
    }

    .w-md-75 {
        width: 75% !important;
    }

    .w-md-100 {
        width: 100% !important;
    }

    .border-md-0 {
        border-width: 0 !important;
    }

    .border-md-end-0 {
        border-right: 0 !important;
    }

    .border-md-start-0 {
        border-left: 0 !important;
    }

    .border-md-bottom-0 {
        border-bottom: 0 !important;
    }

    .border-md-top-0 {
        border-top: 0 !important;
    }

    .border-md-1 {
        border: solid 1px black !important;
    }

    .border-md-end-1 {
        border-right: solid 1px black !important;
    }

    .border-md-start-1 {
        border-left: solid 1px black !important;
    }

    .border-md-bottom-1 {
        border-bottom: solid 1px black !important;
    }

    .border-md-top-1 {
        border-top: solid 1px black !important;
    }

    .border-md-2 {
        border: solid 2px black !important;
    }

    .border-md-end-2 {
        border-right: solid 2px black !important;
    }

    .border-md-start-2 {
        border-left: solid 2px black !important;
    }

    .border-md-bottom-2 {
        border-bottom: solid 2px black !important;
    }

    .border-md-top-2 {
        border-top: solid 2px black !important;
    }


    .border-md-3 {
        border: solid 3px black !important;
    }

    .border-md-end-3 {
        border-right: solid 3px black !important;
    }

    .border-md-start-3 {
        border-left: solid 3px black !important;
    }

    .border-md-bottom-3 {
        border-bottom: solid 3px black !important;
    }

    .border-md-top-3 {
        border-top: solid 3px black !important;
    }
}

@media (min-width: 992px) {
    .h-lg-25 {
        height: 25% !important;
    }

    .h-lg-50 {
        height: 50% !important;
    }

    .h-lg-75 {
        height: 75% !important;
    }

    .h-lg-100 {
        height: 100% !important;
    }

    .w-lg-25 {
        width: 25% !important;
    }

    .w-lg-50 {
        width: 50% !important;
    }

    .w-lg-75 {
        width: 75% !important;
    }

    .w-lg-100 {
        width: 100% !important;
    }

    .border-lg-0 {
        border-width: 0;
    }

    .border-lg-end-0 {
        border-right: 0 !important;
    }

    .border-lg-start-0 {
        border-left: 0 !important;
    }

    .border-lg-bottom-0 {
        border-bottom: 0 !important;
    }

    .border-lg-top-0 {
        border-top: 0 !important;
    }

    .border-lg-1 {
        border: solid 1px black !important;
    }

    .border-lg-end-1 {
        border-right: solid 1px black !important;
    }

    .border-lg-start-1 {
        border-left: solid 1px black !important;
    }

    .border-lg-bottom-1 {
        border-bottom: solid 1px black !important;
    }

    .border-lg-top-1 {
        border-top: solid 1px black !important;
    }

    .border-lg-2 {
        border: solid 2px black !important;
    }

    .border-lg-end-2 {
        border-right: solid 2px black !important;
    }

    .border-lg-start-2 {
        border-left: solid 2px black !important;
    }

    .border-lg-bottom-2 {
        border-bottom: solid 2px black !important;
    }

    .border-lg-top-2 {
        border-top: solid 2px black !important;
    }


    .border-lg-3 {
        border: solid 3px black !important;
    }

    .border-lg-end-3 {
        border-right: solid 3px black !important;
    }

    .border-lg-start-3 {
        border-left: solid 3px black !important;
    }

    .border-lg-bottom-3 {
        border-bottom: solid 3px black !important;
    }

    .border-lg-top-3 {
        border-top: solid 3px black !important;
    }

}

@media (min-width: 1200px) {
    .h-xl-25 {
        height: 25% !important;
    }

    .h-xl-50 {
        height: 50% !important;
    }

    .h-xl-75 {
        height: 75% !important;
    }

    .h-xl-100 {
        height: 100% !important;
    }

    .w-xl-25 {
        width: 25% !important;
    }

    .w-xl-50 {
        width: 50% !important;
    }

    .w-xl-75 {
        width: 75% !important;
    }

    .w-xl-100 {
        width: 100% !important;
    }

    .border-xl-0 {
        border-width: 0 !important;
    }

    .border-xl-end-0 {
        border-right: 0 !important;
    }

    .border-xl-start-0 {
        border-left: 0 !important;
    }

    .border-xl-bottom-0 {
        border-bottom: 0 !important;
    }

    .border-xl-top-0 {
        border-top: 0 !important;
    }

    .border-xl-1 {
        border: solid 1px black !important;
    }

    .border-xl-end-1 {
        border-right: solid 1px black !important;
    }

    .border-xl-start-1 {
        border-left: solid 1px black !important;
    }

    .border-xl-bottom-1 {
        border-bottom: solid 1px black !important;
    }

    .border-xl-top-1 {
        border-top: solid 1px black !important;
    }

    .border-xl-2 {
        border: solid 2px black !important;
    }

    .border-xl-end-2 {
        border-right: solid 2px black !important;
    }

    .border-xl-start-2 {
        border-left: solid 2px black !important;
    }

    .border-xl-bottom-2 {
        border-bottom: solid 2px black !important;
    }

    .border-xl-top-2 {
        border-top: solid 2px black !important;
    }


    .border-xl-3 {
        border: solid 3px black !important;
    }

    .border-xl-end-3 {
        border-right: solid 3px black !important;
    }

    .border-xl-start-3 {
        border-left: solid 3px black !important;
    }

    .border-xl-bottom-3 {
        border-bottom: solid 3px black !important;
    }

    .border-xl-top-3 {
        border-top: solid 3px black !important;
    }
}

@media (min-width: 1400px) {
    .h-xxl-25 {
        height: 25% !important;
    }

    .h-xxl-50 {
        height: 50% !important;
    }

    .h-xxl-75 {
        height: 75% !important;
    }

    .h-xxl-100 {
        height: 100% !important;
    }

    .w-xxl-25 {
        width: 25% !important;
    }

    .w-xxl-50 {
        width: 50% !important;
    }

    .w-xxl-75 {
        width: 75% !important;
    }

    .w-xxl-100 {
        width: 100% !important;
    }

    .border-xxl-0 {
        border-width: 0;
    }

    .border-xxl-end-0 {
        border-right: 0 !important;
    }

    .border-xxl-start-0 {
        border-left: 0 !important;
    }

    .border-xxl-bottom-0 {
        border-bottom: 0 !important;
    }

    .border-xxl-top-0 {
        border-top: 0 !important;
    }

    .border-xxl-1 {
        border: solid 1px black !important;
    }

    .border-xxl-end-1 {
        border-right: solid 1px black !important;
    }

    .border-xxl-start-1 {
        border-left: solid 1px black !important;
    }

    .border-xxl-bottom-1 {
        border-bottom: solid 1px black !important;
    }

    .border-xxl-top-1 {
        border-top: solid 1px black !important;
    }

    .border-xxl-2 {
        border: solid 2px black !important;
    }

    .border-xxl-end-2 {
        border-right: solid 2px black !important;
    }

    .border-xxl-start-2 {
        border-left: solid 2px black !important;
    }

    .border-xxl-bottom-2 {
        border-bottom: solid 2px black !important;
    }

    .border-xxl-top-2 {
        border-top: solid 2px black !important;
    }


    .border-xxl-3 {
        border: solid 3px black !important;
    }

    .border-xxl-end-3 {
        border-right: solid 3px black !important;
    }

    .border-xxl-start-3 {
        border-left: solid 3px black !important;
    }

    .border-xxl-bottom-3 {
        border-bottom: solid 3px black !important;
    }

    .border-xxl-top-3 {
        border-top: solid 3px black !important;
    }
}

.dropdown-toggle::after {
    display: none !important;
}

/*tabs*/
.nav-pills {
    padding-bottom: 10px;
    border-bottom: 1px solid var(--brand-white-200);
}

.nav-link {
    display: block;
    padding: .5rem 1rem;
    margin-left: .8rem;
    border: solid 1px var(--brand-blue) !important;
    color: var(--brand-blue);
    text-decoration: none;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}

.nav-pills .nav-item.show .nav-link, .nav-pills .nav-link.active {
    color: var(--brand-white) !important;
    background-color: var(--brand-blue) !important;
    box-shadow: 0 12px 12px rgba(var(--brand-blue-rgb), 0.22) !important;
    border: none !important;
}

.nav-pills .nav-link {
    margin-bottom: -1px;
    background: 0 0;
    border: 1px solid transparent;
    border-radius: .50rem;
}