<template>
  <div
    class="d-flex bg-brand-dark-100 justify-content-between"
    style="border-radius: 100px"
  >
    <div class="">
      <img
        class="my-auto"
        style="heigth: 1rem; width: auto"
        src="/src/res/token.svg"
      />
    </div>
    <div class="text-white h-100 me-4">
      <h3 class="pt-2">100</h3>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style>
</style>